<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Your Notes</h1>
    <div>
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Create Notepad">
        </form>
    </div>
    <ul>
        {% for object in object_list %}
        <li>{{ object }} | <small><a href="{{ object.get_update_url }}">Update</a></small> | <small><a href="{{ object.get_delete_url }}">Delete</a></small></li>
        {% endfor %}
    </ul>
</body>
</html>